<!DOCTYPE html>
<html>
<head>
	<!-- favicon -->
	<link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="static/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
	<meta name="theme-color" content="#000">

	<title>canvas.pi</title>
	<meta name="Description" content="Create, browse, save, and order prints of digitally generated art">
	<meta name="Keywords" content="generate art canvas pi arts">

	<link href="static/fontello/css/fontello.css" rel="stylesheet">
</head>
