.sidebar-toggle{
	position: absolute;
	top: 0;
	right: 0;
	margin: 20px;
	background: #fff;
	width: 30px;
	height: 30px;	
}



.grid_box{
	box-sizing: border-box;
	padding: 5px;
	background: cyan;
	width: 250px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
}

.grid_box_item{
	  height: 100px;
    margin: 2px;
    width: 100px;
    background: #000;
}