<!DOCTYPE html>
<html>
<head>
	<title>webpiece</title>
	<link href="main.css" rel="stylesheet">
	<link href="fontello/css/fontello.css" rel="stylesheet">
</head>

<body>
	<div id='splash-screen'>
		<div class='title'>COMING SOON</div>
	</div>
</body>
