<% include ./header %>

<body>
	<div id='splash-screen'>
		<div class='name'><p>π</p></div>
		<div >
			<div class='title'>April</div>
			<div class='title title2'> 2016</div>
		</div>
	
	</div>
</body>
