<% include ./header %>

<body>
	<div id='splash-screen'>
		<div class='name'><p>π</p></div>

		<div class = 'description'>
			<p>
				<span class='low'>Create, browse, save, and order prints of</span><span class='high'> digitally generated art pieces.</span>
			</p>

		</div>
		<div class = 'release'>
			<div class='title'>April</div>
			<div class='title title2'> 2016</div>
		</div>
	
	</div>
</body>