


.list_refresh_button{
	height: 50px;
	width: 100%;
	color: #000;
	background: #fff;
	cursor: pointer;
	text-align: center;
	padding: 10px;
	box-sizing : border-box;
}

.overlay-item{
	border-radius: 2px;
	margin: 3px;
	transition: background 0.5s ease;
	color: #fff;
	background: rgba(255,255,255,0.06);
    min-width: 15px;
    font-size: 10px;
    min-height: 15px;
    line-height: 15px;
    font-size: 10px;
    padding: 5px;
    display: flex;
    align-content: center;
    justify-content: center;

	span{
		
	}
}
.overlay-item:hover{
	background: rgba(255,255,255,0.14)
}

.piece_list{

	background: #111111;
	position: relative;
	height: calc(100%-50px);
	padding: 4px;
	transform: translateZ(0);
	box-sizing : border-box;
			
	.piece-item{
		
		box-sizing : border-box;
		margin: 4px;
		position: relative;
		width: calc(100% - 8px);
		height: calc(100% - 8px);
		@include center;
		overflow: hidden;
		box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), inset 0px 0px 100px rgb(0, 0, 0);
		border: 1px solid rgba(132, 132, 132, 0.1);
		font-size: 10px;

		.piece-item-bg{
			transition: all 0.6s ;
			z-index: -1;
			position: absolute;
			left:0;
			top:0;
			height:100%;
			width: 100%;
		}
		.piece-item-view{
			cursor: pointer;
			position: absolute;
			left:50%;
			top:50%;
			transform: translate(-50%,-50%);
			border-radius: 50%;

		}	

		.piece-item-store{
			border-radius: 50% 2px 50% 50%;
			position: absolute;
			right: 0px;
			height: 20px;
			width: 20px;
			top: 0;
		}

		.icon-picture{
			line-height: 20px;
		}

		.piece-item-date{
			position: absolute;
			box-sizing : border-box;
			padding:7px;
			left:0;
			top:0;
			color: #fff;
			background: rgba(255,255,255,0.3);
		}
		.piece-item-picked{
			cursor: pointer;
			position: absolute;
			right: 0;
			bottom: 0;
			height: 15px;
			width: 15px;
			background: rgb(255, 215, 0);
    		color: black;

			/* margin: 5px; */
			margin-bottom: 32px;
			border-radius: 2px 50% 2px 50%;

			.icon-isight{
				font-size: 12px;
			}
		}

		.piece-item-symbol{
			border-radius: 2px 50% 50% 50%;
			position: absolute;
			left: 0;
			top: 0;

		}

		.piece-item-stats{

			.icon{
				text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
			}

		
			.icon-heart, .span-heart{
				color: pink;
				
			}
			.icon-eye{
			    padding-left: 9px;
			    font-size: 11px;
			}
			.icon-eye, .span-eye{
				color: aquamarine;
    			
			}
			line-height: 15px;
			border-radius: 12px 2px 2px 2px;
			text-align: center;
			position: absolute;
			right: 0;
			bottom: 0;
		}

	}
}

.type-item-symbol{
	text-align: center;
	font-weight: 100;
	font-size: 13px;
	line-height: 25px;
	padding-right: 2px;
	text-align: center;
	padding: 0;
	/* padding-left: 6px; */
	border-radius: 2px 50% 50% 50%;
	height: 25px;
	width: 25px;
}


.type_list{

	background: #0C0C0C;
	.type-item-symbol{
		position: absolute;
		left: 0px;
		top: 0;
	}
	.type-item{
		transition: background 0.3s ease;
		box-sizing : border-box;
		margin: 4px;
		position: relative;
		cursor: default;
		width: calc(100% - 8px);
		height: calc(100% - 8px);
		@include center;
		overflow: hidden;
		box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), inset 0px 0px 100px rgba(131, 132, 132, 0.4);
		border: 1px solid rgba(132, 132, 132, 0.1);
		.type-item-symbol{
			position: absolute;
			line-height: 26px;
			padding: 4px;
			font-size: 14px;
			left: 0px;
			top: 0;
			border-radius: 2px 50% 50% 50%;
		}
		.type-item-bg{
			transition: all 0.6s ;
			z-index: -1;
			left:0;
			top:0;
			height:100%;
			width: 100%;
		}
		.type-item-name{
			position: absolute;
			right: 0px;
			top: 0px;
			padding-left: 10px;
			padding-right: 10px;
		}
		.type-item-count{
			.icon{
				margin: 3px;
			}

			.icon-sliders{
				margin-left: 10px;
			}
			.type-item-count-params{
				color: #C0C0C0;
			}
			.type-item-count-pieces{
				color: #C0C0C0;
			}
			text-align: center;
			vertical-align: middle;
			line-height: 15px;
			position: absolute;
			right: 0px;
			bottom: 0px;
		}
	}
}

