
.gui-button-layer{
	@include center;
}

	// position: relative;
	// background: #000;
	// flex-shrink:0;
	// box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.13);
.gui-sidebar{
	text-shadow: 0px 0px 20px;
	transform: translateZ(0);
	font-size: 15px;
	background: #111111;
	color: #fff;
	
}









.type_list{

	background: #000;

	.type_item{
		transition: background 0.3s ease;
		box-sizing : border-box;
		margin: 4px;
		position: relative;
		cursor: default;
		width: calc(100% - 8px);
		height: calc(100% - 8px);
		@include center;
		overflow: hidden;
		.icon-lock{
			font-size: 20px;
		}
		.type_item_modal{
			background: rgba(0,0,0,0.5);
			
			@include center;
		}
		.type_item_symbol{
			font-weight: 100;
			font-size: 20px;
		}
		.type_item_name{
			position: absolute;
			right: 0px;
			padding: 10px;
			bottom: 0px;
			font-size: 10px;
		}
		.type_item_count{
			position: absolute;
			left: 0px;
			padding: 10px;
			bottom: 0px;
			font-size: 10px;
		}
	}
}




