
.gui-button-layer{
	@include center;
}

	// position: relative;
	// background: #000;
	// flex-shrink:0;
	// box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.13);
.gui-sidebar{
	text-shadow: 0px 0px 20px;
	transform: translateZ(0);
	font-size: 15px;
	background: #111111;
	color: #fff;
	
}

.gui-settings{
	background: #111111;
	color: #fff;
	font-weight: 100;
    text-transform: capitalize;
	.gui-settings-option{
		border-bottom: 1px solid #1F1F1F;
	}
	.gui-settings-option-slide{
		@include center;
		justify-content: flex-start;
	}
}








