


/* scroll wrapper */



._intui_scrollwrapper_inner{
  height: 900%;
  width: 900%;
}

._intui_scrollwrapper_outer{

  position: absolute;
  overflow: scroll;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
}

._intui_scrollwrapper_vertical{
  overflow-x: hidden;
  overflow-y: scroll;
}

._intui_scrollwrapper_horizontal{
  overflow-x: scroll;
  overflow-y: hidden;
}




/* slide start */
@mixin center {
  align-items : center;
  display   : flex;
  align-content : center;
  justify-content: center;  
}

._intui_slide_fixed{
  flex-shrink:0;
}

._intui_slide_center{
  @include center;
}

._intui_slide_static{
  box-sizing: border-box;
  position: relative;
  display: flex;
  overflow: hidden;
}

._intui_slide_outer{
  ::-webkit-scrollbar {
    display: none;
  }
  position: relative;
  overflow: hidden;
}

._intui_slide_inner{
  display: flex
}

._intui_slide_horizontal{
  flex-direction: row;
}

._intui_slide_vertical{
  flex-direction: column;
}

/* slide end */









._intui_tooltip_wrapper{
  position: absolute;
  font-size: 12px;
  left: 5px;
  bottom: 5px;
  z-index: 999;
  perspective: 200px;
  ._intui_tooltip_container{
    backface-visibility: none;
    width: 100%;
    height: 100%;
  }
}



/* INPUT START */

._intui_form_toggle_slide{
   @include center;
}

._intui_input {
  /* padding: 10px; */
  width: 60%;
  border: none;
  font-size: 16px;
  font-weight: 300;
  background: none;
  outline: none;
  color: #000;
  padding-bottom: 4px;
  font-size: 18px;
  border-bottom: #000 1px solid;
}

._intui_input_error {
  background: linear-gradient(45deg,#FF0036,#FF3801);
  color: #fff;
  font-weight: 500;
  @include center;
}


._intui_input_cover{
    @include center;
    font-size: 18px;
}

._intui_input_wrapper{
  @include center;
  ::-webkit-input-placeholder{
    text-decoration: none;
    font-weight: 100;
    font-size: 14px;
    color: rgba(255,255,255,0.2);
  }

  ::-webkit-inner-spin-button{
    -webkit-appearance: none;
    color: rgba(0,255,255,0.2);
  }
}

/* INPUT END */




._intui_el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

._intui_wp {
  position: relative;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}

._intui_overlay {
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

._intui_loader {
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
}

._intui_right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

._intui_left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

._intui_down {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

._intui_up {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

._intui_loader_wrap {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-filter: unquote('blur(15px) contrast(70)');
  background: #000;

}

._intui_loader_c {
  top: 50%;
  left: 50%;
  position: absolute;
}

._intui_loader {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  overflow: hidden;
}

._intui_loader_nub {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  margin: 0 auto;
  -webkit-backface-visibility: hidden;
  width: 70px;
  height: 70px;
  margin-left: -35px;
  margin-top: -35px;
  border-radius: 100%;
  background: #fff;
}

._intui_loader_tick {
  margin-left: -17.5px;
  margin-top: -17.5px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #00f;
  -webkit-filter: saturate(0);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

._intui_loader_tick2 {
  margin-left: -17.5px;
  margin-top: -17.5px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #00f;
  -webkit-filter: saturate(0);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}



._intui_pager_root{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

._intui_pager_child{
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
}


