@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700);


.filter{
	display: none;
}

html,*{
	
	box-sizing: border-box;
	padding:0;
	margin:0;
	
}

html{
	overflow: hidden;
	width: 100%;
	height: 100%;
}

body{
	transform: translateZ(0);
	font-family: "Roboto";
	width: 100%;
	height: 100%;
	background: #000000;
}

#root{
	width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
}

#webpiece{
	height: 100%;
	width: 100%;
}

@mixin center {
	align-items	: center;
	display		: flex;
	align-content	: center;
	justify-content: center;	
}

.site-info-outer{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.23);
}


.site-info{
	padding: 50px;
    font-size: 20px;
    align-items: center;
    font-weight: 100;
    display: flex;
    align-content: center;
    justify-content: center;
    background: linear-gradient(45deg,#00ffe9,#00adff);
    color: rgb(0, 0, 0);
}

.play-button{
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	width: 50px;
	color: rgba(255,255,255,0.7);
	@include center;
	font-size: 21px;
}

.type-image{
	height: 100%;
	width: 100%;
}

.hint{
	position: absolute;
	color: #fff;
	opacity: 0.5;
	font-weight: 100;
	padding: 5px;
	left: 0px;
	top: 0px;
}

.github{
	margin-top: 20px;
	font-size: 40px;
	color: #000;
}

@import "./gui.scss";
@import "./view.scss";
@import "./widget.scss";
@import "./browser.scss";