
.input-hint{
	position: absolute;
	top:4px;
	left:4px;
	color: rgba(0,0,0,0.5);
	font-size: 12px;
}

.store-purchase-info{
	@include center;
	background: #fff;
	box-shadow: inset #CCCCCC 0px 0px 1px;
	p{
		padding: 15px
	}
}

.store-purchase-auth{
	@include center;
	background: #3ACB2D;
}

.store-wrapper{
	.store-selection-stats{
		position: absolute;
		bottom: 3.5%;
		left: 50%;
		transform: translate(-50%, 0%);
		.overlay-item{
			height: 50px;
    		width: 50px;
    		float:left;
    		@include center;
		}
	}
}
.store-purchase-container{
	background: #fff;
	.store-purchase-footer{
		background: #004609;
	}
	.store-purchase-count{

	}
	.store-purchase-price{
		background: #00FFC6;
		color: #000;
		@include center;
	}
}

.store-item-container{
	box-sizing : border-box;
	margin: 4px;
	position: relative;
	width: calc(100% - 8px);
	height: calc(100% - 8px);
	@include center;
	overflow: hidden;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), inset 0px 0px 100px rgb(0, 0, 0);
	border: 1px solid rgba(132, 132, 132, 0.1);
	font-size: 10px;
	background: #3C3C3C;
	.store-item-price{
		position: absolute;
		left:0;
		bottom:0;
	}
}

.store-wrapper-error{
	background: #FFB400;
	@include center;
}

.store-items-wrapper{
	background: #111111;
	position: relative;
	height: calc(100%-50px);
	padding: 4px;
	transform: translateZ(0);
	box-sizing : border-box;

}

.store-variations-wrapper{
	background: #454445;
}