
.icon-heart:before { content: '\e800'; } /* '' */
.icon-isight-1:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-th-thumb:before { content: '\e806'; } /* '' */
.icon-ccw:before { content: '\e808'; } /* '' */
.icon-play:before { content: '\e80a'; } /* '' */
.icon-info-circled:before { content: '\e80b'; } /* '' */
.icon-stop:before { content: '\e811'; } /* '' */
.icon-leaf:before { content: '\e812'; } /* '' */
.icon-lamp:before { content: '\e813'; } /* '' */
.icon-leaf-1:before { content: '\e814'; } /* '' */
.icon-floppy:before { content: '\e815'; } /* '' */
.icon-sliders:before { content: '\e818'; } /* '' */
.icon-picture:before { content: '\e819'; } /* '' */
.icon-angle-left:before { content: '\e81c'; } /* '' */
.icon-angle-right:before { content: '\e81d'; } /* '' */
.icon-angle-up:before { content: '\e81e'; } /* '' */
.icon-angle-down:before { content: '\e81f'; } /* '' */
.icon-database:before { content: '\e823'; } /* '' */
.icon-eye:before { content: '\e825'; } /* '' */
.icon-spread:before { content: '\e826'; } /* '' */
.icon-github-circled:before { content: '\e838'; } /* '' */