
.icon-heart:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-heart-1:before { content: '\e802'; } /* '' */
.icon-pause:before { content: '\e803'; } /* '' */
.icon-facebook-1:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-paper-plane:before { content: '\e806'; } /* '' */
.icon-play:before { content: '\e807'; } /* '' */
.icon-cog:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-th-thumb:before { content: '\e80b'; } /* '' */
.icon-print:before { content: '\e80c'; } /* '' */
.icon-ccw:before { content: '\e80d'; } /* '' */
.icon-th-list-2:before { content: '\e80e'; } /* '' */
.icon-isight:before { content: '\e80f'; } /* '' */
.icon-info-circled:before { content: '\e810'; } /* '' */
.icon-help-circled:before { content: '\e811'; } /* '' */