
#splash-screen{
	font-family: "Roboto";
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;


	.name{
		width: 100px;
		height: 100px;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border-radius: 50%;
		font-size: 60px;
		font-family: "Roboto";
		color: #000;
		margin-bottom: 60px;
		p{
			margin-top: -7px;
		}
	}

	.title{
		float: left;
		background: rgba(0,255,255,1);
		padding: 10px;
		margin: 10px;
		border-radius: 2px;
		border: 1px solid rgba(255,255,255,0.05);
		font-weight: 200;
		color: #000;
		animation: wiggle 2s linear infinite;
		transform-origin: 50% 5em;
	}

	.title2{
		animation-delay: 0.3s;
		//background: rgba(200,255,255,1);
	}


	/* Keyframes */
	@keyframes wiggle {
	  0%, 7% {
	    transform: rotateZ(0);
	  }
	  15% {
	    transform: rotateZ(-7deg);
	  }
	  20% {
	    transform: rotateZ(5deg);
	  }
	  25% {
	    transform: rotateZ(-5deg);
	  }
	  30% {
	    transform: rotateZ(3deg);
	  }
	  35% {
	    transform: rotateZ(-2deg);
	  }
	  40%, 100% {
	    transform: rotateZ(0);
	  }
	}
}
