body{
	background: linear-gradient( 45deg, #004F98, #7B0044 );
}

.float-button{
	background: #fff;
	margin: 20px;
	border-radius: 50%;
	height:30px;
	width:30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;	
	color:#000;
	position: absolute;
	cursor: pointer;
}

.bleft{
	left:0;
	bottom:0;
}

#splash-wrapper{
	transition: transform 0.3s ease;
	height: calc(100%+50px);
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	flex-direction: column;	
}

#signup-screen{
	height: 50px;
	background: #000;
	
	form{
		display: flex;
		align-items: stretch;
		justify-content: stretch;
		flex-direction: row;
		height: 100%;		
	}
	#email:focus{
		box-shadow: none;
		background: #000317;
	}
	#email{
		outline: none;
		font-family: "Roboto";
		background: #000;
		color:rgb(0, 157, 255);
		border: none;
		padding: 10px;
		font-size: 20px;
		height: auto;
		width: 90%;
	}
	.button{
		padding: 10px;
		cursor: pointer;
		background: #fff;
		border:none;
		height: 100%;
		width: 10%;
	}
}


#splash-screen{
	position: relative;
	height: 100%;
	font-family: "Roboto";
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;


	.name{
		box-shadow: 0px 0px 50px rgba(255,255,255,0.4);
		width: 100px;
		height: 100px;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border-radius: 50%;
		font-size: 60px;
		font-family: "Roboto";
		color: #000;
		p{
			margin-top: -7px;
		}
	}


	.title{

		float: left;
		background: rgba(0, 179, 255, 0.13);
		padding: 10px;
		margin: 10px;
		border-radius: 2px;
		border: 1px solid rgba(255,255,255,0.05);
		font-weight: 200;
		color: #009DFF;
		animation: wiggle 2s linear infinite;
		//transform-origin: 50% 5em;
	}

	.title2{
		animation-delay: 0.3s;
		//background: rgba(200,255,255,1);
	}

	.release{
		padding-top: 60px;
	}

	.description{
		font-weight: 100;
		font-size: 13px;
		padding-top: 60px;
		color: #fff;
		.low{
			color: #CACACA;
		}
		.high{
			font-size: 14px;
			color: #009DFF;
		}
	}


	/* Keyframes */
	@keyframes wiggle {
	  0%, 7% {
	    transform: rotateZ(0);
	  }
	  15% {
	    transform: rotateZ(-7deg);
	  }
	  20% {
	    transform: rotateZ(5deg);
	  }
	  25% {
	    transform: rotateZ(-5deg);
	  }
	  30% {
	    transform: rotateZ(3deg);
	  }
	  35% {
	    transform: rotateZ(-2deg);
	  }
	  40%, 100% {
	    transform: rotateZ(0);
	  }
	}
}
