

#view{
	position: relative;
	width: 100%;
	height: 100%;
	.view-piece{
		position: absolute;
		width: 100%;
		height: 100%;
	}
}



#user-widget{
	-webkit-filter: url("#goo");
	filter: url("./index.html#goo");
	position: absolute;
	top:100%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	pointer-events: none;

	.share-slide-favorite{
		@include center;
		
	}

	.share-slide-share{
		@include center;
		//color: #2F8BAD;
	}

	.share-slide-container{
		height: 100%;
		width: 100%;
		.loader{
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			position: absolute;
		}
		.share_slide {
			// border-radius : 50% 50% 50% 50%;
			// background: #fff;
			// overflow: hidden;
			position: relative;
		}
	}


	.icon-cog {
		margin-top: -40px;
	}

	.c_node{
		transform: translateZ(0);		
		transform: translate3d(0,0,0);
		@include center;
		// box-shadow : 0px 0px 10px rgba(0,0,0,0.5);
		border-radius : 50% 50% 50% 50%;
		background: #fff;
		overflow: hidden;
	}
	.share_node{
		// background: #fff;
		// border-radius : 50%;
		// background: none;	
	}

	.icon-facebook-1, .icon-twitter{
		font-size: 10px;
	}

	.share_node{

	}

	.icon-heart {
		//color: #FF274A
	}
}


#param-widget{
	-webkit-filter: url("#goo");
	filter: url("./index.html#goo");
	transform: translate3d(0,0,0);
	position: absolute;
	top:0%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	pointer-events: none;
	.c_node{
		transform: translate3d(0,0,0);
		@include center;
		// box-shadow : 0px 0px 10px rgba(0,0,0,0.5);
		border-radius : 50% 50% 50% 50%;
		color: #000;
		background: #76FFB6;
		overflow: hidden;
	}
	.icon-sliders {
		margin-top: 35px;
	}
}
